<div class="page page-table" data-ng-controller="OutputReadsCtrl as outputReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Confirmation des sorties</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">N° lot</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Fabriquant</th>
                            <th class="text-center">Provenance</th>
                            <th class="text-center">Date fabrication</th>
                            <th class="text-center">Date d'entrée</th>
                            <th class="text-center">Date péremption</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Stock Disponible</th>
                            <th class="text-center">Valider</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="output in outputReadsCtrl.outputs  | orderBy: 'dateMouvement'">
                            <td class="text-center">{{output.lot}}</td>
                            <td class="text-center"><a href="" ng-click="outputReadsCtrl.goProduct(output.product.id)" title="{{output.product.designation}}">{{output.product.designation}}</a> </td>
                            <td class="text-center">{{output.product.categorie.categorie}}</td>
                            <td class="text-center">{{output.fabriquant}}</td>
                            <td class="text-center">{{output.origin.origin}}</td>
                            <td class="text-center" ng-bind="output.dateFabrication | date:'dd/MM/yyyy'"></td>
                            <td class="text-center" ng-bind="output.whenDone | date:'dd/MM/yyyy'"></td>
                            <td class="text-center" ng-bind="output.datePeremption | date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{output.quantity}}</td>
                            <td class="text-center">{{output.stock}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Modifier" ng-click="outputReadsCtrl.doTraiter(output.id)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>