<div class="page-signin" data-ng-controller="loginCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1><a href="#/">{{main.brand}}</a></h1>
                        </section>

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="number" required class="form-control" ng-model="user.telephone">
                                        <span class="input-bar"></span>
                                        <label>Téléphone</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password" required class="form-control" ng-model="user.password">
                                        <span class="input-bar"></span>
                                        <label>********</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a href="" ng-click="login(user)" class="color-primary">Connexion</a>
                    </div>
                </div>

                <div class="additional-info">

                    <a href="#/page/forgot-password">Mot de passe perdu ?</a>
                </div>

            </div>                
        </div>

    </div>

</div>