<div class="page" ng-controller="GiftCreateCtrl as giftCreateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Don</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <table class="table table-bgifted">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Programme</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Quantité</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="productGift in giftCreateCtrl.productList |  orderBy: 'product.designation'">
                            <td class="text-center">{{productGift.program.program}}</td>
                            <td class="text-center">{{productGift.designation}}</td>
                            <td class="text-center">{{productGift.quantityGift}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="giftCreateCtrl.makeGift()">Valider</md-button>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Aspirine" ng-model="query">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <table class="table table-bgifted">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Programme</th>
                            <th class="text-center">Catérogorie</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Type galémique</th>
                            <th class="text-center">Forme</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Ajouter</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="product in giftCreateCtrl.products | filter:query | orderBy: 'product.designation'">
                        <tr>
                            <td class="text-center">{{product.program.program}}</td>
                            <td class="text-center">{{product.categorie.categorie}}</td>
                            <td class="text-center"><a href="" ng-click="giftCreateCtrl.goProduct(product.id)" title="{{product.designation}}">{{product.designation}}</a> </td>
                            <td class="text-center">{{product.stock}}</td>
                            <td class="text-center">{{product.type}}</td>
                            <td class="text-center">{{product.formeGalenique }}</td>
                            <td class="text-center">
                                <input type="number" class="form-control" ng-model="product.quantityGift" ng-init="product.quantityGift=1">
                            </td>
                            <td class="text-center">
                                <md-button class="btn-w-md md-primary" ng-click="giftCreateCtrl.prepareGift(product)">+</md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>-->

    </div>
</div>