<div class="page page-table" data-ng-controller="GiftReadsCtrl as giftReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Dons</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Date</th>
                            <th class="text-center">Référence</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Traiter</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="gift in giftReadsCtrl.gifts | orderBy : '-whenDone'">
                            <td class="text-center" ng-bind="gift.whenDone | date:'dd/MM/yyyy' "></td>
                            <td class="text-center">{{gift.reference}}</td>
                            <td class="text-center">
                                <span ng-if="gift.status == 0">
                                    <span class="label label-danger">non validé</span>
                                </span>
                                <span ng-if="gift.status == 1">
                                     <span class="label label-primary">validé</span>
                                </span>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Traiter" ng-click="giftReadsCtrl.goTraiter(gift.reference)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <section class="text-center no-print">
        <a ui-wave href="" ng-click="giftReadsCtrl.doImprimer()" class="btn btn-primary btn-raised btn-lg btn-w-lg"><i class="fa fa-print"></i> Imprimer</a>
    </section>
</div>