<div class="page page-invoice" data-ng-controller="GiftReadCtrl as giftReadCtrl">

    <div class="row ui-section" id="invoice">
        <div class="col-lg-8 clearfix">
            <h4 class="section-header">Traitement</h4>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong> Référence : </strong>{{giftReadCtrl.gifts[0].reference}}<br>
                    <strong> Date : </strong><span class="text-center" ng-bind="giftReadCtrl.gifts[0].whenDone | date:'dd/MM/yyyy' "></span><br><br>

                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">N° lot</th>
                            <th class="text-center">Quantité</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="gift in giftReadCtrl.gifts">
                            <td class="text-center">{{gift.lot}}</td>
                            <td class="text-center">{{gift.quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                        <span ng-if="giftReadCtrl.gifts[0].status == 0">
                            <md-button class="md-raised btn-w-md md-primary" ng-click="giftReadCtrl.doTraiter()">Valider</md-button>
                        </span>
                </div>
            </div>
        </div>
    </div>

    <section class="text-center no-print">
        <a ui-wave href="" ng-click="giftReadCtrl.doImprimer()" class="btn btn-primary btn-raised btn-lg btn-w-lg"><i class="fa fa-print"></i> Imprimer</a>
    </section>
</div>