<div class="page" ng-controller="CategorieCreateCtrl as categorieCreateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Nouvelle catégorie</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Catégorie</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="categorie.categorie" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="categorieCreateCtrl.create(categorie)">
                                    Ajouter
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>