<div class="page page-table" data-ng-controller="InvoiceReadCtrl as invoiceReadCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Détail paiement</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Reférence</th>
                            <th class="text-center">Date opération</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Nature</th>
                            <th class="text-center">Montant</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice in invoiceReadCtrl.invoices | orderBy: 'whenDone'">
                            <td class="text-center">{{invoiceReadCtrl.invoices[0].reference}}</td>
                            <td class="text-center" ng-bind="invoice.whenDone | date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{invoice.type}}</td>
                            <td class="text-center">{{invoice.nature}}</td>
                            <td class="text-center">{{invoice.montant}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>