<div class="page page-table" data-ng-controller="InvoiceReadsCtrl as invoiceReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Toutes les invoices</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Reference</th>
                            <th class="text-center">Détail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice in invoiceReadsCtrl.invoices | orderBy: 'invoice'">
                            <td class="text-center">{{invoice.reference}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Détail" ng-click="invoiceReadsCtrl.goInvoice(invoice.reference)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>