<div class="page page-dashboard" data-ng-controller="AccueilCtrl">
    <div class="row">
        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table pricing-table-danger">
                <header> <h2>Commandes</h2> </header>
                <p class="pricing-price"><span class="pricing-sub">Attente de validation</span></p>
                <div class="pricing-plan-details">
                    <ul>
                        <li>#GRG2000</li>
                        <li>#GRG2002</li>
                        <li>#GRG2085</li>
                        <li>#GRG2060</li>
                        <li>#GRG2011</li>
                    </ul>
                </div>
                <footer><a ui-wave href="javascript:" class="btn btn-raised btn-danger">Traiter</a></footer>
            </section>
        </div>

        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table pricing-table-danger">
                <header> <h2>Sorties</h2> </header>
                <p class="pricing-price"><span class="pricing-sub">Attente de confirmation</span></p>
                <div class="pricing-plan-details">
                    <ul>
                        <li>#GRG2000</li>
                        <li>#GRG2002</li>
                        <li>#GRG2085</li>
                        <li>#GRG2060</li>
                        <li>#GRG2011</li>
                    </ul>
                </div>
                <footer><a ui-wave href="javascript:" class="btn btn-raised btn-danger">Traiter</a></footer>
            </section>
        </div>

        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table pricing-table-danger">
                <header><h2>Stocks</h2></header>
                <p class="pricing-price"><span class="pricing-sub">Produits en rupture</span></p>
                <div class="pricing-plan-details">
                    <ul>
                        <li>Nivaquine</li>
                        <li>Aspirine</li>
                        <li>Amoxixiline</li>
                        <li>Doliprane</li>
                        <li>Efferalgant</li>
                    </ul>
                </div>
                <footer><a ui-wave href="javascript:" class="btn btn-raised btn-danger">Traiter</a></footer>
            </section>
        </div>

        <div class="col-md-3 col-xsm-6">
            <section class="pricing-table pricing-table-danger">
                <header><h2>Périmés</h2></header>
                <p class="pricing-price"><span class="pricing-sub">Produits périmés</span></p>
                <div class="pricing-plan-details">
                    <ul>
                        <li>Nivaquine</li>
                        <li>Aspirine</li>
                        <li>Amoxixiline</li>
                        <li>Doliprane</li>
                        <li>Efferalgant</li>
                    </ul>
                </div>
                <footer><a ui-wave href="javascript:" class="btn btn-raised btn-danger">Traiter</a></footer>
            </section>
        </div>
    </div>

</div>
    