<header class="top-header clearfix">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0 }">
        <a href="#/">
            <span class="logo-icon zmdi zmdi-view-dashboard"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                   md-button aria-label="toggle-nav-collapsed-min"
                   class="toggle-min"><i class="zmdi zmdi-menu"></i></a>
            </li>
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            <li>
                <a href="#/page/profile">
                    <i class="zmdi zmdi-account"></i>
                    <span data-translate="MY_PROFILE"></span>
                </a>
            </li>
            <li>
                <a href="#/page/signin">
                    <i class="zmdi zmdi-forward"></i>
                    <span data-translate="LOG_OUT" ng-click="logout()"></span>
                </a>
            </li>

            <li class="dropdown langs text-normal" data-ng-controller="LangCtrl" uib-dropdown
                is-open="status.isopenLang">
                <a href="javascript:" class="dropdown-toggle active-flag" uib-dropdown-toggle ng-disabled="disabled"
                   md-button aria-label="lang">
                    <div class="flag {{ getFlag() }}"></div>
                </a>
                <ul class="uib-dropdown-menu with-arrow    pull-right list-langs dropdown-menu-scaleIn" role="menu">
                    <li data-ng-show="lang !== 'French' ">
                        <a href="javascript:" data-ng-click="setLang('French')">
                            <div class="flag flags-france"></div>
                            Français</a></li>
                    <li data-ng-show="lang !== 'English' ">
                        <a href="javascript:" data-ng-click="setLang('English')">
                            <div class="flag flags-american"></div>
                            English</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
