
<div class="nav-wrapper">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
        <li><a md-button aria-label="meanu" href="#/accueil"><i class="zmdi zmdi-home"></i><span
                data-translate="ACCUEIL"></span> </a></li>
        <li>
            <a md-button aria-label="meanu" href="#/utilisateurs"><i class="zmdi zmdi-balance"></i><span><span
                    data-translate="UTILISATEUR"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/users/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/users"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/programs"><i
                    class="zmdi zmdi-assignment-account"></i><span><span data-translate="PROGRAMME"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/programs/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/programs"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/categories"><i class="zmdi zmdi-balance"></i><span><span
                    data-translate="CATEGORIE"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/categories/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/categories"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/origins"><i class="zmdi zmdi-album"></i><span><span
                    data-translate="PROVENANCE"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/origins/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/origins"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/destinations"><i
                    class="zmdi zmdi-assignment-account"></i><span><span data-translate="DESTINATION"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/destinations/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/destinations"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/products"><i class="zmdi zmdi-assignment-returned"></i><span><span
                    data-translate="PRODUIT"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/products/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/products"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/inputs"><i
                    class="zmdi zmdi-assignment-account"></i><span><span data-translate="ENTREE"></span></span></a>
            <ul>

                <li><a md-button aria-label="meanu" href="#/inputs"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/gifts"><i class="zmdi zmdi-attachment"></i><span><span
                    data-translate="GIFT"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/gifts/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/gifts"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/sales"><i class="zmdi zmdi-attachment"></i><span><span
                    data-translate="VENTE"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/sales/new"><i class="fa fa-circle"></i><span
                        data-translate="NOUVEAU"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/sales"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/invoices"><i
                    class="zmdi zmdi-assignment-account"></i><span><span data-translate="INVOICE"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/invoices"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/outputs"><i
                    class="zmdi zmdi-assignment-account"></i><span><span data-translate="SORTIE"></span></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/outputs"><i class="fa fa-circle"></i><span
                        data-translate="LISTE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/chart"><i class="zmdi zmdi-chart"></i><span
                    data-translate="RAPPORT"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/rapports/produits"><i class="fa fa-circle"></i><span
                        data-translate="PRODUIT"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/rapports/lots"><i class="fa fa-circle"></i><span
                        data-translate="LOT"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/rapports/peremptions"><i class="fa fa-circle"></i><span
                        data-translate="PEREMPTION"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/rapports/ruptures"><i class="fa fa-circle"></i><span
                        data-translate="RUPTURE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/rapports/origins"><i class="fa fa-circle"></i><span
                        data-translate="PROVENANCE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/rapports/destinations"><i class="fa fa-circle"></i><span
                        data-translate="DESTINATION"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/rapports/status"><i class="fa fa-circle"></i><span
                        data-translate="STATUS"></span></a></li>

             <!--   <li><a md-button aria-label="meanu" href="#/chart/echarts-line"><i class="fa fa-circle"></i><span
                        data-translate="LINE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-bar"><i class="fa fa-circle"></i><span
                        data-translate="BAR"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-pie"><i class="fa fa-circle"></i><span
                        data-translate="PIE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-scatter"><i class="fa fa-circle"></i><span
                        data-translate="SCATTER"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-more"><i class="fa fa-circle"></i><span
                        data-translate="MORE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/charts"><i class="fa fa-circle"></i><span
                        data-translate="CHARTS"></span></a></li>-->
            </ul>
        </li>
       <!-- <li class="nav-divider"></li>
        <li class="nav-title"><span data-translate="ONLINE"></span></li>
        <li class="li-small"><a href="#/"><i class="fa fa-circle color-primary"></i> <span
                data-translate="DR OUSMANE HALIMA"></span></a></li>
        <li class="li-small"><a href="#/"><i class="fa fa-circle color-danger"></i> <span
                data-translate="DR ISMAEL HAMID"></span></a></li>-->
    </ul>
</div>