<div class="page" ng-controller="UserCreateCtrl as userCreateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Création</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Nom</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="user.nom" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Prénom</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="user.prenom" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Téléphone</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="user.telephone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Profil</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="user.profil">
                                    <md-radio-button value="gerant">Gérant</md-radio-button>
                                    <md-radio-button value="reception">Réception</md-radio-button>
                                    <md-radio-button value="caisse">Caisse</md-radio-button>
                                    <md-radio-button value="stock">Stock</md-radio-button>
                                    <md-radio-button value="controler">Contrôleur</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-8"></label>

                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="userCreateCtrl.create(user)">
                                    Ajouter
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>