<div class="page page-table" data-ng-controller="UserReadsCtrl as userReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Utilisateurs</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">#</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prénom</th>
                            <th class="text-center">Téléphone</th>
                            <th class="text-center">Profil</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Modifier</th>
                            <th class="text-center">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in userReadsCtrl.users  | orderBy: 'nom'">
                            <td class="text-center">{{user.id}}</td>
                            <td class="text-center">{{user.nom}}</td>
                            <td class="text-center">{{user.prenom}}</td>
                            <td class="text-center">{{user.telephone}}</td>
                            <td class="text-center">{{user.profil}}</td>
                            <td class="text-center">
                                <span ng-if="user.authToken === null">
                                    <span class="label label-danger">Non connecté</span>
                                </span>
                                <span ng-if="user.authToken != null">
                                     <span class="label label-primary">Connecté</span>
                                </span>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Modifier"  ng-click="userReadsCtrl.goUpdate(user.id)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Supprimer" ng-click="userReadsCtrl.confirmSuppression($event, user)">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>