<div class="page" data-ng-controller="UserUpdateCtrl as userUpdateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Modification</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Nom</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="userUpdateCtrl.user.nom" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Prénom</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="userUpdateCtrl.user.prenom" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Téléphone</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="userUpdateCtrl.user.telephone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Nouveau mot de passe</label>

                            <div class="col-sm-8">
                                <input type="password" ng-model="user.password" class="form-control"
                                       placeholder="******">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-8"></label>

                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="userUpdateCtrl.update(userUpdateCtrl.user)">
                                    Mettre à jour
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>