<div class="page" ng-controller="ProductCreateCtrl as productCreateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Nouveau médicament</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Programme</label>

                            <div class="col-sm-8">
                                <md-select ng-model="product.program_id" aria-label="program">
                                    <md-option ng-repeat="program in productCreateCtrl.programs" value="{{program.id}}">
                                        {{program.program}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Catégorie</label>

                            <div class="col-sm-8">
                                <md-select ng-model="product.categorie_id" aria-label="categorie">
                                    <md-option ng-repeat="categorie in productCreateCtrl.categories" value="{{categorie.id}}">
                                        {{categorie.categorie}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Désignation</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="product.designation" class="form-control"
                                       aria-label="designation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Classe Pharmacologique</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="product.classePharmacologique" class="form-control"
                                       aria-label="designation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Type</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="product.type">
                                    <md-radio-button value="médicament">Médicament</md-radio-button>
                                    <md-radio-button value="réatifs">Réatifs</md-radio-button>
                                    <md-radio-button value="matériel médical">Matériel médical</md-radio-button>
                                    <md-radio-button value="consommables">consommables</md-radio-button>
                                    <md-radio-button value="condoms">condoms</md-radio-button>
                                    <md-radio-button value="lubrifiants">lubrifiants</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Forme galenique</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="product.formeGalenique">
                                    <md-radio-button value="comprimé">comprimé</md-radio-button>
                                    <md-radio-button value="solution buvable">solution buvable</md-radio-button>
                                    <md-radio-button value="solution injectable">solution injectable</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Dosage</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="product.dosage" class="form-control"
                                       aria-label="nom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Conditionnement</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="product.conditionnement">
                                    <md-radio-button value="unité">Unité</md-radio-button>
                                    <md-radio-button value="boite">Boite</md-radio-button>
                                    <md-radio-button value="flacon">Flacon</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Conservation</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="product.conservation" class="form-control"
                                       aria-label="conservation">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="productCreateCtrl.create(product)">
                                    Ajouter
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>