<div class="page page-table" data-ng-controller="ProductReadsCtrl as productReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Tous les médicaments</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Programme</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Forme galémique</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Détail</th>
                            <th class="text-center">Modifier</th>
                            <th class="text-center">Supprimer</th>
                            <th class="text-center">Nouvelle entrée</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in productReadsCtrl.products  | orderBy: 'designation'">
                            <td class="text-center">{{product.program.program}}</td>
                            <td class="text-center">{{product.designation}}</td>
                            <td class="text-center">{{product.categorie.categorie}}</td>
                            <td class="text-center">{{product.type}}</td>
                            <td class="text-center">{{product.formeGalenique}}</td>
                            <td class="text-center">{{product.stock}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Détail" ng-click="productReadsCtrl.goDetail(product.id)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Modifier" ng-click="productReadsCtrl.goUpdate(product.id)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Supprimer" ng-click="productReadsCtrl.confirmSuppression($event, product)">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </md-button>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Nouvelle Entrée" ng-click="productReadsCtrl.goCreateEntrer(product.id)">
                                    <span class="glyphicon glyphicon-new-window"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>