<div class="page page-table" data-ng-controller="ProductReadCtrl as productReadCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{productReadCtrl.product.designation}}</h2>
        </div>

        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <div class="form-group">
                        <strong class="col-sm-2 ">Programme</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.program.program}}</p>
                    </div>
                    <div class="form-group">
                        <strong class="col-sm-2 ">Catégorie</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.categorie.categorie}}</p>
                    </div>

                    <div class="form-group">
                        <strong class="col-sm-2 ">Classe pharmacologique</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.classePharmacologique}}</p>
                    </div>
                    <div class="form-group">
                        <strong class="col-sm-2 ">Type</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.type}}</p>
                    </div>
                    <div class="form-group">
                        <strong class="col-sm-2 ">Forme galémique</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.formeGalenique}}</p>
                    </div>
                    <div class="form-group">
                        <strong class="col-sm-2 ">Dosage</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.dosage}}</p>
                    </div>
                    <div class="form-group">
                        <strong class="col-sm-2 ">Conditionnement</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.conditionnement}}</p>
                    </div>
                    <div class="form-group">
                        <strong class="col-sm-2 ">Conservation</strong>
                        <p class="col-sm-10">{{productReadCtrl.product.conservation}}</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">N° lot</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Fabriquant</th>
                            <th class="text-center">Provenance</th>
                            <th class="text-center">Date fabrication</th>
                            <th class="text-center">Date d'entrée</th>
                            <th class="text-center">Date péremption</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">P.U</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="input in productReadCtrl.inputs  | orderBy: 'dateMouvement'">
                            <td class="text-center">{{input.lot}}</td>
                            <td class="text-center">{{input.product.designation}} </td>
                            <td class="text-center">{{input.product.categorie.categorie}}</td>
                            <td class="text-center">{{input.fabriquant}}</td>
                            <td class="text-center">{{input.origin.origin}}</td>
                            <td class="text-center" ng-bind="input.dateFabrication | date:'dd/MM/yyyy'"></td>
                            <td class="text-center" ng-bind="input.whenDone | date:'dd/MM/yyyy'"></td>
                            <td class="text-center" ng-bind="input.datePeremption | date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{input.quantity}}</td>
                            <td class="text-center">{{input.stock}}</td>
                            <td class="text-center">{{input.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>