<div class="page" data-ng-controller="ProductUpdateCtrl as productUpdateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Modification d'un produit</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Programme</label>
                            <div class="col-sm-8">
                                <input type="text" value="{{productUpdateCtrl.product.program.program}}" readonly class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Catégorie</label>
                            <div class="col-sm-8">
                                <input type="text" value="{{productUpdateCtrl.product.categorie.categorie}}" readonly class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Désignation</label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="productUpdateCtrl.product.designation" class="form-control"
                                       aria-label="designation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Classe Pharmacologique</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="productUpdateCtrl.product.classePharmacologique" class="form-control"
                                       aria-label="designation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Type</label>
                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="productUpdateCtrl.product.type">
                                    <md-radio-button value="médicament">Médicament</md-radio-button>
                                    <md-radio-button value="réatifs">Réatifs</md-radio-button>
                                    <md-radio-button value="matériel médical">Matériel médical</md-radio-button>
                                    <md-radio-button value="consommables">consommables</md-radio-button>
                                    <md-radio-button value="condoms">condoms</md-radio-button>
                                    <md-radio-button value="lubrifiants">lubrifiants</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Forme Galenique</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="productUpdateCtrl.product.formeGalenique">
                                    <md-radio-button value="comprimé">comprimé</md-radio-button>
                                    <md-radio-button value="solution buvable">solution buvable</md-radio-button>
                                    <md-radio-button value="solution injectable">solution injectable</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Dosage</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="productUpdateCtrl.product.dosage" class="form-control"
                                       aria-label="nom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Conditionnement</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="productUpdateCtrl.product.conditionnement">
                                    <md-radio-button value="unité">Unité</md-radio-button>
                                    <md-radio-button value="boite">Boite</md-radio-button>
                                    <md-radio-button value="flacon">Flacon</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Conservation</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="productUpdateCtrl.product.conservation" class="form-control"
                                       aria-label="conservation">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="productUpdateCtrl.update(productUpdateCtrl.product)">
                                    Modifier
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>