<div class="page" data-ng-controller="InputCreateCtrl as inputCreateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Création</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Type d'entrée</label>
                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="input.type">
                                    <md-radio-button value="achat">Achat</md-radio-button>
                                    <md-radio-button value="don">Don</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Origin</label>

                            <div class="col-sm-8">
                                <md-select ng-model="input.origin_id" aria-label="origin">
                                    <md-option ng-repeat="origin in inputCreateCtrl.origins" value="{{origin.id}}">
                                        {{origin.origin}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Numéro de lot</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="input.lot" class="form-control"
                                       aria-label="Numéro de lot">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Fabriquant</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="input.fabriquant" class="form-control"
                                       aria-label="Fabriquant">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Date de fabrication</label>

                            <div class="col-sm-8">
                                <md-datepicker ng-model="input.dateFabrication"
                                               md-placeholder="dd/mm/yyyy"></md-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Date de péremption</label>

                            <div class="col-sm-8">
                                <md-datepicker ng-model="input.datePeremption"
                                               md-placeholder="ddd/mm/yyyy"></md-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Quantié</label>

                            <div class="col-sm-8">
                                <input type="number" ng-model="input.quantity" class="form-control"
                                       aria-label="quantité" placeholder="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Prix de vente</label>

                            <div class="col-sm-8">
                                <input type="number" ng-model="input.price" class="form-control"
                                       aria-label="prix de vente" ng-init="input.price=0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="inputCreateCtrl.create(input)">
                                    Ajouter
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>