<div class="page page-table" data-ng-controller="InputReadsCtrl as inputReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Listes des produits entrés</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">N° lot</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Fabriquant</th>
                            <th class="text-center">Provenance</th>
                            <th class="text-center">Date fabrication</th>
                            <th class="text-center">Date d'entrée</th>
                            <th class="text-center">Date péremption</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Prix de vente</th>
                            <th class="text-center">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="input in inputReadsCtrl.inputs  | orderBy: 'dateMouvement'">
                            <td class="text-center">{{input.lot}}</td>
                            <td class="text-center"><a href="" ng-click="inputReadsCtrl.goProduct(input.product.id)" title="{{input.product.designation}}">{{input.product.designation}}</a> </td>
                            <td class="text-center">{{input.product.categorie.categorie}}</td>
                            <td class="text-center">{{input.fabriquant}}</td>
                            <td class="text-center">{{input.origin.origin}}</td>
                            <td class="text-center" ng-bind="input.dateFabrication | date:'dd/MM/yyyy'"></td>
                            <td class="text-center" ng-bind="input.whenDone | date:'dd/MM/yyyy'"></td>
                            <td class="text-center" ng-bind="input.datePeremption | date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{input.quantity}}</td>
                            <td class="text-center">{{input.stock}}</td>
                            <td class="text-center">{{input.price}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Supprimer" ng-click="inputReadsCtrl.confirmSuppression($event, input)">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>