<div class="page page-table" data-ng-controller="DestinationReadsCtrl as destinationReadsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Toutes les destinations</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Intitulé</th>
                            <th class="text-center">Modifier</th>
                            <th class="text-center">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="destination in destinationReadsCtrl.destinations | orderBy: 'destination'">
                            <td class="text-center">{{destination.destination}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Modifier" ng-click="destinationReadsCtrl.goUpdate(destination.id)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </md-button>
                            </td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Supprimer" ng-click="destinationReadsCtrl.confirmSuppression($event, destination)">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>