<div class="page" data-ng-controller="DestinationUpdateCtrl as destinationUpdateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Modification d'une destination</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-lg">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Destination</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="destinationUpdateCtrl.destination.destination" class="form-control">
                            </div>
                            <div class="col-sm-2">
                                <md-button class="md-raised btn-w-md md-primary" ng-click="destinationUpdateCtrl.update(destinationUpdateCtrl.destination)">
                                    Modifier
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>