<div class="page" ng-controller="SaleCreateCtrl as saleCreateCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Vente</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Produit</th>
                            <th class="text-center">N° Lot</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Prix Unitaire</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="inputSale in saleCreateCtrl.inputList">
                            <td class="text-center">{{inputSale.product.designation}}</td>
                            <td class="text-center">{{inputSale.lot}}</td>
                            <td class="text-center">{{inputSale.quantitySale}}</td>
                            <td class="text-center">{{inputSale.price}}</td>
                            <td class="text-center">{{inputSale.quantitySale * inputSale.price}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">{{saleCreateCtrl.total}}</td>
                        </tr>
                        </tfoot>
                    </table>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="saleCreateCtrl.makeSale()">Valider</md-button>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Aspirine" ng-model="query">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body padding-xl">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Produit</th>
                            <th class="text-center">N° lot</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Fabriquant</th>
                            <th class="text-center">Date péremption</th>
                            <th class="text-center">P.U</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Ajouter</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="input in saleCreateCtrl.inputs | filter:query | orderBy: 'product.designation'">
                        <tr>
                            <td class="text-center"><a href="" ng-click="saleCreateCtrl.goProduct(input.product.id)" title="{{input.product.designation}}">{{input.product.designation}}</a> </td>
                            <td class="text-center">{{input.lot}}</td>
                            <td class="text-center">{{input.stock}}</td>
                            <td class="text-center">{{input.fabriquant }}</td>
                            <td class="text-center" ng-bind="input.datePeremption | date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{ input.price }}</td>
                            <td class="text-center">
                                <input type="number" class="form-control" ng-model="input.quantitySale" ng-init="input.quantitySale=1">
                            </td>
                            <td class="text-center">
                                <md-button class="btn-w-md md-primary" ng-click="saleCreateCtrl.prepareSale(input)">+</md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>