<div class="page page-invoice" data-ng-controller="SaleReadCtrl as saleReadCtrl">

    <div class="row ui-section" id="invoice">
        <div class="col-lg-8 clearfix">
            <h4 class="section-header">Traitement</h4>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <strong> Référence : </strong>{{saleReadCtrl.sales[0].reference}}<br>
                    <strong> Date : </strong><span class="text-center" ng-bind="saleReadCtrl.sales[0].whenDone | date:'dd/MM/yyyy' "></span><br><br>

                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">N° lot</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">P.U</th>
                            <th class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sale in saleReadCtrl.sales">
                            <td class="text-center">{{sale.lot}}</td>
                            <td class="text-center">{{sale.quantity}}</td>
                            <td class="text-center">{{sale.price}}</td>
                            <td class="text-center">{{sale.quantity * sale.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">type</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="invoice.type">
                                    <md-radio-button value="avance">Avance</md-radio-button>
                                    <md-radio-button value="partiel">Partiel</md-radio-button>
                                    <md-radio-button value="total">Total</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Nature</label>

                            <div class="col-sm-8">
                                <md-radio-group class="ui-md-radio-group-inline" ng-model="invoice.nature">
                                    <md-radio-button value="espece">Espèce</md-radio-button>
                                    <md-radio-button value="cheque">Chèque</md-radio-button>
                                    <md-radio-button value="virement">Virement</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Montant</label>

                            <div class="col-sm-4">
                                <input type="number" ng-model="invoice.montant" class="form-control">
                            </div>
                        </div>
                    </form>
                    <md-button class="md-raised btn-w-md md-primary" ng-click="saleReadCtrl.createInvoice(invoice)">Payer</md-button>
                    <span ng-if="saleReadCtrl.sales[0].status == 0">
                            <md-button class="md-raised btn-w-md md-primary" ng-click="saleReadCtrl.doTraiter()">Payer et valider</md-button>
                            <md-button class="md-raised btn-w-md md-primary" ng-click="saleReadCtrl.doTraiter()">Valider</md-button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <section class="text-center no-print">
        <a ui-wave href="" ng-click="saleReadCtrl.doImprimer()" class="btn btn-primary btn-raised btn-lg btn-w-lg"><i class="fa fa-print"></i> Imprimer</a>
    </section>
</div>