<div class="page page-table" data-ng-controller="lotMouvementRapportCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Numéro lot : {{mouvements[0].numeroLot}}</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Date d'opération</th>
                            <th class="text-center">Type d'opération</th>
                            <th class="text-center">Quantité</th>
                            <th class="text-center">Produit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mouvement in mouvements | orderBy : 'dateMouvement'">
                            <td class="text-center" ng-bind="mouvement.dateMouvement| date:'dd/MM/yyyy'"></td>
                            <td class="text-center">
                             <span ng-if="mouvement.typeMouvement == 'entree'">
                                    <span class="label label-primary">Entrée</span>
                                </span>
                                <span ng-if="mouvement.typeMouvement == 'sortie'">
                                     <span class="label label-danger">Sortie</span>
                                </span>
                            </td>
                            <td class="text-center">{{mouvement.quantite}}</td>
                            <td class="text-center">{{mouvement.produit.designation}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>