<div class="page page-table" data-ng-controller="stockProduitsCtrl">

    <div class="row ui-section" id="invoice">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Situation stock / produit</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Filtrer par programme</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="programme" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Filtrer par provenance</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="provenance" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Filtrer par catégorie</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="categorie" class="form-control">
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Produit</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Programme</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Mouvements</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="produit in produits  | filter:programme | filter:provenance | filter:categorie | orderBy: 'designation' ">
                            <td class="text-center">{{produit.designation}}</td>
                            <td class="text-center">{{produit.categorie.categorie}}</td>
                            <td class="text-center">{{produit.programme.programme}}</td>
                            <td class="text-center">{{produit.stock}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Mouvements"><span
                                        class="glyphicon glyphicon-new-window"
                                        ui-sref="stocks-mouvements({ id: produit.id})"></span></md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section class="text-center no-print">
        <a ui-wave href="" ng-click="imprimerPapier()" class="btn btn-primary btn-raised btn-lg btn-w-lg"><i
                class="fa fa-print"></i> Imprimer le rapport</a>
    </section>
</div>