<div class="page page-invoice" data-ng-controller="stockLotsCtrl">

    <div class="row ui-section" id="invoice">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Situation stock / à sortir</h2>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Filtrer par programme</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="programme" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Filtrer par provenance</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="provenance" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Filtrer par catégorie</label>

                            <div class="col-sm-8">
                                <input type="text" ng-model="categorie" class="form-control">
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Status</th>
                            <th class="text-center">Destination</th>
                            <th class="text-center">Produit</th>
                            <th class="text-center">numero de lot</th>
                            <th class="text-center">Programme</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Stock Disponible <br>(après sortie réelle)</th>
                            <th class="text-center">Date de péremption</th>
                            <th class="text-center">Provenance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mouvement in mouvements | filter:programme | filter:provenance | filter:categorie | orderBy: 'destination.destination'  " ng-if="mouvement.typeMouvement == 'sortie' && mouvement.confirmationSortie == 0">
                            <td class="text-center">
                                <span ng-if="mouvement.confirmationSortie == 0">
                                    <span class="label label-danger">produit non sorti du stock</span>
                                </span>
                                <span ng-if="mouvement.confirmationSortie == 1">
                                     <span class="label label-primary">produit sorti du stock</span>
                                </span>
                            </td>
                            <td class="text-center">{{mouvement.destination.destination}}</td>
                            <td class="text-center">{{mouvement.produit.designation}}</td>
                            <td class="text-center">{{mouvement.numeroLot}}</td>
                            <td class="text-center">{{mouvement.produit.programme.programme}}</td>
                            <td class="text-center">{{mouvement.produit.categorie.categorie}}</td>
                            <td class="text-center">{{mouvement.stockDisponible}}</td>
                            <td class="text-center" ng-bind="mouvement.datePeremption | date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{mouvement.provenance.provenance}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section class="text-center no-print">
        <a ui-wave href="" ng-click="imprimerPapier()" class="btn btn-primary btn-raised btn-lg btn-w-lg"><i
                class="fa fa-print"></i> Imprimer le rapport</a>
    </section>

</div>