<div class="page page-table" data-ng-controller="stockMouvementRapportCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Mouvements du produit {{mouvements[0].produit.designation}}</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="bg-primary">
                            <th class="text-center">Date d'opération</th>
                            <th class="text-center">Numéro lot</th>
                            <th class="text-center">Nature opération</th>
                            <th class="text-center">Mouvement</th>
                            <th class="text-center">Stock final</th>
                            <th class="text-center">Détail / lot</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mouvement in mouvements | orderBy : 'dateMouvement'">
                            <td class="text-center" ng-bind="mouvement.dateMouvement| date:'dd/MM/yyyy'"></td>
                            <td class="text-center">{{mouvement.numeroLot}}</td>
                            <td class="text-center">
                             <span ng-if="mouvement.typeMouvement == 'entree'">
                                    <span class="label label-primary">Entrée</span>
                                </span>
                                <span ng-if="mouvement.typeMouvement == 'sortie'">
                                     <span class="label label-danger">Sortie</span>
                                </span>
                            </td>
                            <td class="text-center">{{mouvement.quantite}}</td>
                            <td class="text-center">{{mouvement.stockDisponible}}</td>
                            <td class="text-center">
                                <md-button class="md-icon-button md-primary" aria-label="Mouvements"><span
                                        class="glyphicon glyphicon-new-window"
                                        ui-sref="lots-mouvements({ numeroLot: mouvement.numeroLot})"></span></md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>