<!doctype html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <title>Likitana - Dépôt</title>
        <meta name="description" content="Logiciel de gestion clinique et pharmacie">
        <meta name="keywords" content="clinique, pharmacie, logiciel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

            <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("styles/loader.css")">
       @* <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,300italic,500italic|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>*@
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css")">
            <!-- end Needs images -->


            <!-- build:css({.tmp,client}) styles/main.css -->
        <link rel="stylesheet" href="@routes.Assets.versioned("bower_components/angular-material/angular-material.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("styles/main.css")">
            <!-- endbuild -->

    </head>
    <body data-ng-app="likitana"
    id="app"
    class="app"
    data-custom-page
    data-ng-controller="AppCtrl"
    data-ng-class=" { 'layout-boxed': main.layout === 'boxed',
                            'nav-collapsed-min': main.menu === 'collapsed'
          } ">
            <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

        <div id="loader-container"></div>

        <header data-ng-include=" 'app/layout/header.html' "
        id="header"
        class="header-container "
        data-ng-class="{ 'header-fixed': main.fixedHeader,
                                  'bg-white': ['11','12','13','14','15','16','21'].indexOf(main.skin) >= 0,
                                  'bg-dark': main.skin === '31',
                                  'bg-primary': ['22','32'].indexOf(main.skin) >= 0,
                                  'bg-success': ['23','33'].indexOf(main.skin) >= 0,
                                  'bg-info': ['24','34'].indexOf(main.skin) >= 0,
                                  'bg-warning': ['25','35'].indexOf(main.skin) >= 0,
                                  'bg-danger': ['26','36'].indexOf(main.skin) >= 0
                 }"></header>

        <div class="main-container"
        data-ng-class="{ 'app-nav-horizontal': main.menu === 'horizontal' }">
            <aside data-ng-include=" 'app/layout/sidebar.html' "
            id="nav-container"
            class="nav-container"
            data-ng-class="{ 'nav-fixed': main.fixedSidebar,
                                    'nav-horizontal': main.menu === 'horizontal',
                                    'nav-vertical': main.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
                   }">
            </aside>

            <div id="content" class="content-container">
                <section data-ui-view
                class="view-container {{main.pageTransition.class}}"></section>
            </div>
        </div>


       @* <script src="http://maps.google.com/maps/api/js"></script>*@

            <!-- build:js scripts/vendor.js -->
        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-animate/angular-animate.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-filter/angular-filter.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-resource/angular-resource.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-cookies/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-aria/angular-aria.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-messages/angular-messages.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
            <!-- endbuild -->

            <!-- build:js scripts/ui.js -->
        <script src="@routes.Assets.versioned("bower_components/angular-material/angular-material.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/jquery-steps/build/jquery.steps.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/jquery.slimscroll/jquery.slimscroll.min.js")"></script>

        <script src="@routes.Assets.versioned("bower_components/angular-ui-tree/dist/angular-ui-tree.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/ngmap/build/scripts/ng-map.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-scroll/angular-scroll.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-validation-match/dist/angular-validation-match.min.js")"></script>

        <script src="@routes.Assets.versioned("bower_components/textAngular/dist/textAngular-rangy.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/textAngular/dist/textAngular.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/textAngular/dist/textAngular-sanitize.min.js")"></script>

        <script src="@routes.Assets.versioned("bower_components/angular-translate/angular-translate.min.js")"></script>
        <script src="@routes.Assets.versioned("bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")"></script>

        <script src="@routes.Assets.versioned("vendors/jquery.sparkline.min.js")"></script>
        <script src="@routes.Assets.versioned("vendors/echarts.js")"></script>
        <script src="@routes.Assets.versioned("vendors/ngecharts.js")"></script>
            <!-- endbuild -->


            <!-- build:js scripts/app.js -->

            <!-- app:js -->
        <script src="@routes.Assets.versioned("app/app.module.js")"></script>

            <!-- core:js -->
        <script src="@routes.Assets.versioned("app/core/core.module.js")"></script>
        <script src="@routes.Assets.versioned("app/core/app.config.js")"></script>
        <script src="@routes.Assets.versioned("app/core/app.controller.js")"></script>
        <script src="@routes.Assets.versioned("app/core/app.routing.js")"></script>
        <script src="@routes.Assets.versioned("app/core/app.service.js")"></script>
        <script src="@routes.Assets.versioned("app/core/i18n.js")"></script>

            <!-- layout:js -->
        <script src="@routes.Assets.versioned("app/layout/layout.module.js")"></script>
        <script src="@routes.Assets.versioned("app/layout/layout.controller.js")"></script>
        <script src="@routes.Assets.versioned("app/layout/layout.diretive.js")"></script>
        <script src="@routes.Assets.versioned("app/layout/loader.js")"></script>
        <script src="@routes.Assets.versioned("app/layout/sidebar.directive.js")"></script>

        <!-- rapport:js -->
        <script src="@routes.Assets.versioned("app/chart/chart.module.js")"></script>
        <script src="@routes.Assets.versioned("app/chart/echarts.controller.js")"></script>

            <!-- categorie:js -->
        <script src="@routes.Assets.versioned("app/categories/categorie.module.js")"></script>
        <script src="@routes.Assets.versioned("app/categories/categorie.service.js")"></script>
        <script src="@routes.Assets.versioned("app/categories/categorie.controller.js")"></script>

            <!-- gift:js -->
        <script src="@routes.Assets.versioned("app/gifts/gift.module.js")"></script>
        <script src="@routes.Assets.versioned("app/gifts/gift.service.js")"></script>
        <script src="@routes.Assets.versioned("app/gifts/gift.controller.js")"></script>

            <!-- sale:js -->
        <script src="@routes.Assets.versioned("app/sales/sale.module.js")"></script>
        <script src="@routes.Assets.versioned("app/sales/sale.service.js")"></script>
        <script src="@routes.Assets.versioned("app/sales/sale.controller.js")"></script>

            <!-- destination:js -->
        <script src="@routes.Assets.versioned("app/destinations/destination.module.js")"></script>
        <script src="@routes.Assets.versioned("app/destinations/destination.service.js")"></script>
        <script src="@routes.Assets.versioned("app/destinations/destination.controller.js")"></script>

            <!-- input:js -->
        <script src="@routes.Assets.versioned("app/inputs/input.module.js")"></script>
        <script src="@routes.Assets.versioned("app/inputs/input.service.js")"></script>
        <script src="@routes.Assets.versioned("app/inputs/input.controller.js")"></script>

            <!-- invoice:js -->
        <script src="@routes.Assets.versioned("app/invoices/invoice.module.js")"></script>
        <script src="@routes.Assets.versioned("app/invoices/invoice.service.js")"></script>
        <script src="@routes.Assets.versioned("app/invoices/invoice.controller.js")"></script>

            <!-- product:js -->
        <script src="@routes.Assets.versioned("app/products/product.module.js")"></script>
        <script src="@routes.Assets.versioned("app/products/product.service.js")"></script>
        <script src="@routes.Assets.versioned("app/products/product.controller.js")"></script>

            <!-- origin:js -->
        <script src="@routes.Assets.versioned("app/origins/origin.module.js")"></script>
        <script src="@routes.Assets.versioned("app/origins/origin.service.js")"></script>
        <script src="@routes.Assets.versioned("app/origins/origin.controller.js")"></script>

            <!-- output:js -->
        <script src="@routes.Assets.versioned("app/outputs/output.module.js")"></script>
        <script src="@routes.Assets.versioned("app/outputs/output.service.js")"></script>
        <script src="@routes.Assets.versioned("app/outputs/output.controller.js")"></script>

            <!-- program:js -->
        <script src="@routes.Assets.versioned("app/programs/program.module.js")"></script>
        <script src="@routes.Assets.versioned("app/programs/program.service.js")"></script>
        <script src="@routes.Assets.versioned("app/programs/program.controller.js")"></script>

            <!-- rapport:js -->
        <script src="@routes.Assets.versioned("app/rapport/rapport.module.js")"></script>
        <script src="@routes.Assets.versioned("app/rapport/rapport.controller.js")"></script>

            <!-- user:js -->
        <script src="@routes.Assets.versioned("app/users/user.module.js")"></script>
        <script src="@routes.Assets.versioned("app/users/user.service.js")"></script>
        <script src="@routes.Assets.versioned("app/users/user.controller.js")"></script>

        <!-- login:js -->
        <script src="@routes.Assets.versioned("app/login/login.module.js")"></script>
        <script src="@routes.Assets.versioned("app/login/login.service.js")"></script>
        <script src="@routes.Assets.versioned("app/login/login.controller.js")"></script>
        <script src="@routes.Assets.versioned("app/login/login.directive.js")"></script>

    </body>
</html>
